<div class="container mt-5">
    <form (ngSubmit)="onSubmit()" #jobOfferForm="ngForm">
        <div class="card">
            <div  >
                <i class="fas fa-briefcase"></i>

             <h1> Add Job Offer</h1>
            </div>
            <div class="card-body row">
                <div class="col-md-6">
                    <!-- Left column -->
                    <div class="form-group">
                        <label for="titre"><i class="fas fa-heading"></i> Title</label>
                        <input type="text" class="form-control" id="titre" required [(ngModel)]="jobOffer.titre" name="titre">
                    </div>

                    <div class="form-group">
                        <label for="description"><i class="fas fa-info-circle"></i> Description</label>
                        <textarea class="form-control" id="description" required [(ngModel)]="jobOffer.description" name="description"></textarea>
                    </div>

                  <div class="form-group">
                    <label for="contrat"><i class="fas fa-file-contract"></i> Contract</label>
                    <select class="form-control" id="contrat" [(ngModel)]="jobOffer.contrat" name="contrat">
                      <option *ngFor="let contrat of yourListOfContrats" [value]="contrat">{{contrat}}</option>
                    </select>
                  </div>

                    <div class="form-group">
                        <label for="entreprise"><i class="fas fa-building"></i> Company</label>
                        <input type="text" class="form-control" id="entreprise" [(ngModel)]="jobOffer.entreprise" name="entreprise">
                    </div>

                    <div class="form-group">
                        <label for="Site_web"><i class="fas fa-globe"></i> Website</label>
                        <input type="url" class="form-control" id="Site_web" [(ngModel)]="jobOffer.Site_web" name="Site_web">
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Right column -->
                    <div class="form-group">
                        <label for="salaire"><i class="fas fa-dollar-sign"></i> Salary</label>
                        <input type="text" class="form-control" id="salaire" [(ngModel)]="jobOffer.salaire" name="salaire">
                    </div>



                  <div class="form-group">
                    <label for="niveauEtude"><i class="fas fa-graduation-cap"></i> Education Level</label>
                    <select class="form-control" id="niveauEtude" [(ngModel)]="jobOffer.niveauEtude" name="niveauEtude">
                      <option *ngFor="let niveauEtude of yourListOfNiveau" [value]="niveauEtude">{{niveauEtude}}</option>
                    </select>
                  </div>

                    <div class="form-group">
                        <label for="status"><i class="fas fa-info-circle"></i> Status</label>
                        <input type="text" class="form-control" id="status" [(ngModel)]="jobOffer.status" name="status">
                    </div>

                  <div class="form-group">
                    <label for="ville"><i class="fas fa-city"></i> Ville</label>
                    <select id="ville" [(ngModel)]="jobOffer.ville" (change)="onVilleChange($event)" name="ville">
                      <option *ngFor="let ville of villes"  >{{ville.nom}}</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="domaine"><i class="fas fa-briefcase"></i> Domain</label>
                    <select id="domaine" [(ngModel)]="jobOffer.domaine" (change)="onDomaineChange($event)" name="domaine">
                      <option *ngFor="let item of domaines ">{{item.nom}}</option>
                    </select>
                  </div>

                    <div class="form-group">
                        <label for="image"><i class="fas fa-image"></i> Image</label>
                        <input type="file" class="form-control-file" id="image" (change)="onFileChange($event)" name="image">
                    </div>
                </div>
            </div>
          <div class="card-footer">
            <div *ngIf="successMessage" class="alert alert-success" role="alert">
              {{ successMessage }}
            </div>
            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
          </div>
        </div>
    </form>
</div>
