<!-- Jumbotron -->
<div class="container px-4 py-5 px-md-5  text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h6 class="display-3 fw-bold ls-tight">
                    Job portal <br />
                    <span class="text-success">Best Offers</span><br>
                    <span class="text-primary">Best Candidates</span>

                </h6>
                <p style="color: hsl(217, 10%, 50.8%)">
                    A job portal is a website where people who need jobs can find jobs and companies looking for job seekers can find the perfect employees.
                    It serves as a medium where job seekers can create profiles, upload resumes,
                    and search for job openings across various industries and locations.
                    Employers, on the other hand, can post job vacancies,
                    review applicant profiles, and conduct the initial stages of the hiring process through the portal.
                </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                    <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
                    <div class="card-body py-1 px-md-5">

                        <h3 class="text-primary text-center">Sign in</h3>
                        <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">

                            <div class="mb-0">
                                <label class="form-label">Role</label>
                                <select formControlName="role" class="form-control">
                                    <option value="candidate">Candidate</option>
                                    <option value="employer">Employer</option>
                                </select>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example3">Email address</label>
                                <input type="email" id="form3Example3" formControlName="email" class="form-control" />

                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-1">
                                <label class="form-label" for="form3Example4">Password</label>
                                <input type="password" id="form3Example4" formControlName="password" class="form-control" />
                            </div>


                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-1">
                                LOGIN
                            </button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>Don't have an account? :<a class="text-primary" (click)="handleSigneUp()">Signup</a></p>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jumbotron -->
